#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gameContainer {
    min-width: 360px;
    height: 400px;
    max-width: calc(100% - 20px);
    left: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 0;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
}


.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    flex-grow: 1;
    max-width: 200px;
    max-height: 200px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}


.Players{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width:600px) {
    .Players{
        flex-direction: column;
        .PlayerDiv{
            width: 50%;
        }
    }
}