body {
    background-color: rgb(91, 88, 235); /* Fallback solid color */
    background: linear-gradient(90deg, rgba(91,88,235,1) 0%, rgba(187,99,255,1) 35%, rgba(86,225,233,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
    box-sizing: border-box; /* Ensure border-box sizing */
}


#developerBar{
    width: 100%;
    position: absolute;
    bottom:0;
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}